h1 {
  color: #D1495B;
}

.letters {
  display: flex;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 16px;
  width: 16px;
  margin: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #30638E;
  color: white;
}
